*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(58, 58, 58);
}
#login{
    min-width: 350px;
    display: grid;
    width: 30vw;
    height: 60vh;
    margin: auto;
    margin-top: 25vh;
    text-align: center;
    border: 1px solid;
    background-color: rgb(187, 187, 187);
    padding: 20px;
    border-radius: 50px;
}
input{
    height: 50px;
    border-radius: 20px;
    border-color: rgb(213, 213, 213);
    padding: 20px;
    font-size: 15px;
    background-color: rgb(207, 206, 206);
}
button{
    height: 50px;
      align-items: center;
      background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
      border: 0;
      border-radius: 50px;
      box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
      box-sizing: border-box;
      color: #FFFFFF;
      display: flex;
      font-family: Phantomsans, sans-serif;
      font-size: 20px;
      justify-content: center;
      line-height: 1em;
      max-width: 100%;
      min-width: 140px;
      padding: 19px 24px;
      text-decoration: none;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      white-space: nowrap;
      cursor: pointer;
    }
    
    .button-63:active,
    .button-63:hover {
      outline: 0;
    }
    
    @media (min-width: 768px) {
      .button-63 {
        font-size: 24px;
        min-width: 196px;
      }
    }

p{
    font-size: 18px;
}
a{
    text-decoration: none;
}
h1{
    margin-top: 20px;
}