
        *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        body{
            background-color: rgb(226, 226, 226);
            font-family: sans-serif;
        }
        #register-con{
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        #signupDiv{
            width: 500px;
            height: 480px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
        h2{
            width: 450px;
            text-align: center;
            margin-top: 20px;
            font-size: 30px;
        }
        input{
            width: 400px;
            padding: 12px ;
            border-radius: 10px;
            border-color: lightgray;
            font-size: 16px;
        }
        #signup-btn{
            width: 400px;
            padding: 12px;
            border-radius: 10px;
            background: rgb(81, 115, 251);
            color: white;
            font-size: 16px;
            cursor: pointer;
        }
        #login-btn:hover{
            background-color: rgb(45, 83, 237);
        }
        p{
            margin-bottom: 10px;
        }
       a:hover{
        cursor: pointer;
       }
       select{
            width: 400px;
            padding: 12px;
            border-radius: 10px;
            border-color: lightgray;
            font-size: 16px;
       }