*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
#random{
    width: 100vw;
    height: 110vh;
    background-color: light-dark(#24292a, #efefec);
    display: flex;
    justify-content: center;
    align-items: center;
}
#random div{
    height: 100vh;
    min-width: 400px;
    width: 35vw;
    border-radius: 20px;
    text-align: center;
    box-shadow: rgba(188, 192, 194, 0.3) 0px 1px 2px 0px, rgba(192, 202, 210, 0.15) 0px 2px 6px 2px;
}
#random div:hover{
    box-shadow: rgb(6, 230, 6) 0px 20px 30px -10px;
}
img{
    width: 80%;
    border-radius: 20px;
    margin-top: 20px;
}
p{
    padding-top: 10px;
    color: rgb(193, 191, 191);
    font-size: 18px;
}
a{
    text-decoration: none;
    color: rgb(196, 193, 193);
}
#footer{
    height: 10vh;
    background-color: black;
}
#footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
#time{
    color: rgb(183, 181, 181);
    font-size: 20px;
}
@media (width<1250px){
    #random div{
        height: 80vh;
    }
    #random{
        height: 90vh;
    }
}
@media (width<390px){
    #random{
        height: 120vh;
    }
    #random div{
        min-width: 400px;
        height: auto;
    }
}